<!--
    我的团契详细页面
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"   xmlns="http://www.w3.org/1999/xhtml"  >
<head>
    <meta charset="utf-8"/>
    <title>我的团契</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css">
</head>
<body>

<div th:fragment="details (item)" class="ui segment">
    <h2>我的团契详细信息</h2>
    <div class="ui divider"></div>
    <div class="ui two column stackable grid container">
        <div class="column">
                <div class="ui grid">
                    <div class="four wide left aligned column">
                        <label class="ui black label">团契名称</label>
                    </div>
                    <div class="eight wide column">
                        <label class="ui black label" th:utext="${item.name}">name</label>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="four wide left aligned column">
                        <label class="ui black fluid label">团契显示状态</label>
                    </div>
                    <div class="eight wide column">
                        <label class="ui green label" th:if="${item.isAccountNonLocked() and item.isEnabled()}">正常</label>
                        <label class="ui orange label" th:if="${!item.isAccountNonLocked() and item.isEnabled()}">激活</label>
                        <label class="ui red label" th:if="${!item.isEnabled()}">禁用</label>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="four wide left aligned column">
                        <label class="ui black fluid label">团契创建日期</label>
                    </div>
                    <div class="eight wide column">
                        <label class="ui black label" th:utext="${item.created_data}">created_data</label>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="four wide left aligned column">
                        <label class="ui black fluid label">团契显示名称</label>
                    </div>
                    <div class="eight wide column">
                        <label class="ui black label" th:utext="${item.display_name}">display_name</label>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="four wide left aligned column">
                        <label class="ui black fluid label">团契所有人</label>
                    </div>
                    <div class="eight wide column">
                        <label class="ui black label" th:utext="${item.owner}">owner</label>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="four wide left aligned column">
                        <label class="ui black fluid label">团契所有人用户名</label>
                    </div>
                    <div class="eight wide column">
                        <label class="ui black label" th:utext="${item.owner_username}">owner_username</label>
                    </div>
            </div>
        </div>
        <div class="column ">
            <div class="ui celled grid">
                <div class="six wide column">
                    <img class="ui medium image">image
                </div>
            </div>
    </div>

    </div>

    <div class="ui divider"></div>

    <div class="ui  grid container">
        <div class="ui aligned row">
            <div class="four wide column">
                <button class="ui admin fellowship add fellowship primary button" th:replace="admin_fellowship_add :: ${fellowship_edit(name)}">添加团契</button>
            </div>
            <div class="four wide column">
                <button th:attr="data-name=${item.name}" th:if="${item.isEnabled()}"
                        class="ui admin fellowship disable tiny red button">禁用
                </button>
                <button th:attr="data-name=${item.name}" th:if="${not item.isEnabled()}"
                        class="ui admin fellowship enable tiny green button">激活
                </button>
            </div>
            <div class="six wide column">
                <button class="ui admin fellowship change owner secondary button">更改团契所有人</button>
            </div>
        </div>
     </div>
</div>

</body>
</html>